<%= turbo_stream_from @room.id %>
<section class="mb-6 text-center">
  <h1 class="inline-block mb-2 font-extrabold text-3xl tracking-tight text-slate-800 dark:text-white">
    <%= @room.event.name %>
  </h1>
  <div class="text-gray-500 dark:text-gray-400 text-sm font-semibold tracking-tight mb-2">
    <%= @room.start_date.strftime("%B %d, %Y") %>
  </div>
</section>
<section class="mb-6">
  <% if user_signed_in? %>
    <div>
      <div class="text-gray-500 dark:text-gray-400 text-sm font-semibold tracking-tight mb-2">Ask a question: </div>
      <%# turbo_frame_tag :new_question, src: new_room_question_path %>
      <%= render "form", question: @question %>
    </div>
  <% else %>
    <div>
      <h3 class="inline-block font-extrabold text-xl tracking-tight text-slate-800 dark:text-white">You need to be logged in to ask a question</h3>
      <%= link_to 'Sign up', new_user_path %> or <%= link_to 'Login', login_path %>
    </div>
  <% end %>
</section>
<section class="mb-6">
  <div class="flex items-center justify-start space-x-4 text-gray-500 dark:text-gray-400 font-light text-sm">
    <div>
      Number of questions: <span id="question_counter"><%= @room.approved_question_count %></span>
      <% if (current_user&.has_role? :admin, @room) %>
        <span class="font-light text-xs">(approved)</span>
      <% end %>
    </div>
    <% if (current_user&.has_role? :admin, @room) %>
      <div>
        New questions: <span id="asked_question_counter"><%= @room.asked_question_count %></span>
      </div>
    <% end %>
  </div>
  <div id="questions" data-controller="empty-state order-questions" class="flex flex-col py-2" data-order-questions-active-class="text-blue-600 border-blue-600 active dark:text-blue-500 dark:border-blue-500" data-order-questions-inactive-class="border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">
    <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700 mb-2">
      <ul class="flex flex-wrap -mb-px">
        <li class="mr-2">
          <button data-action="order-questions#refreshWithOrder" data-order-questions-order-param="trending" data-order-questions-target="tab" class="inline-block p-4 border-b-2" aria-current="page">Trending</button>
        </li>
        <li class="mr-2">
          <button data-action="order-questions#refreshWithOrder" data-order-questions-order-param="recent" data-order-questions-target="tab" class="inline-block p-4 border-b-2">Recent</button>
        </li>
        <li class="mr-2">
          <button data-action="order-questions#refreshWithOrder" data-order-questions-order-param="oldies" data-order-questions-target="tab" class="inline-block p-4 border-b-2">Oldies</button>
        </li>
      </ul>
    </div>
    <div data-empty-state-target="emptyState">
      <%= render "empty_state" %>
    </div>
    <%= render @questions %>
  </div>
</section>
