<%= turbo_stream_from @room.id :questions %>
<section class="pt-4">
  <% if user_signed_in? %>
    <div class="md:px-2 py-2 bg-blue-100 rounded-lg">
      <h2 class="text-xl font-bold text-blue-600">Ask your question: </h2>
      <%= turbo_frame_tag :new_question, src: new_room_question_path %>
    </div>
  <% else %>
    <div>
      <h3>You need to be logged in to ask a question</h3>
      <%= link_to 'Sign up', sign_up_path %> or <%= link_to 'Login', login_path %>
    </div>
  <% end %>
</section>
<section class="pt-4">
  <%= turbo_frame_tag Question.new do %>
    <% if @questions.none? %>
      <%= render "questions/empty_state" %>
    <% end %>
  <% end %>
  <%= turbo_frame_tag "questions" do %>
    <%= render @questions %>
  <% end %>
</section>
