<%= turbo_stream_from [@room.id, :questions] %>
<section class="pt-4">
  <h2 class="font-extrabold text-2xl text-slate-800 text-center">
    <%= @room.event.name %>
  </h2>
</section>
<section class="pt-4">
  <% if user_signed_in? %>
    <div class="md:px-2 py-2 bg-blue-100 rounded-lg">
      <h2 class="text-xl font-bold text-blue-600">Ask your question: </h2>
      <%= turbo_frame_tag :new_question, src: new_room_question_path %>
    </div>
  <% else %>
    <div>
      <h3>You need to be logged in to ask a question</h3>
      <%= link_to 'Sign up', sign_up_path %> or <%= link_to 'Login', login_path %>
    </div>
  <% end %>
</section>
<section class="pt-4">
  <div id="questions" data-controller="empty-state">
    <div data-empty-state-target="emptyState">
      <%= render "empty_state" %>
    </div>
    <div class="flex flex-col space-y-2">
      <%= render @questions %>
    </div>
  </div>
</section>
