<%= turbo_frame_tag "answer_modal", data: { turbo_modal_target: "modal", controller: "turbo-modal" } %>
<%= turbo_stream_from @room.id %>
<section class="mb-6 text-center">
  <h1 class="inline-block mb-2 font-extrabold text-3xl tracking-tight text-slate-800 dark:text-white">
    <%= @room.event.name %>
  </h1>
  <% if @room.name != "__default__" %>
    <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
    <h2 class="font-bold md:text-2xl text-xl tracking-tight leading-none text-gray-900 mb-4 dark:text-white">
      <%= @room.name %>
    </h2>
  <% end %>
  <div class="text-gray-500 dark:text-gray-400 text-sm font-semibold tracking-tight mb-2">
    <%= @room.start_date.strftime("%B %d, %Y") %>
  </div>
</section>
<% if @room.public_description.present? %>
  <div id="accordion-collapse" data-accordion="collapse" class="mb-4">
    <h2 id="accordion-collapse-heading-1">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500  rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-1" aria-expanded="false" aria-controls="accordion-collapse-body-1">
        <span>Click here for more information:</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
      <div class="p-5  dark:bg-gray-900">
        <div class="mb-2 text-gray-500 dark:text-gray-400">
          <%= @room.public_description %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<section class="mb-6">
  <% if user_signed_in? %>
    <div>
      <div class="text-gray-500 dark:text-gray-400 text-sm font-semibold tracking-tight mb-2">Ask a question: </div>
      <%# turbo_frame_tag :new_question, src: new_room_question_path %>
      <%= render "form", question: @question %>
    </div>
  <% else %>
    <div>
      <h3 class="inline-block font-extrabold text-xl tracking-tight text-slate-800 dark:text-white">You need to be logged in to ask a question</h3>
      <span class="text-gray-500 dark:text-gray-400 text-sm font-semibold tracking-tight"><%= link_to 'Sign up', new_user_path %> or <%= link_to 'Login', login_path %></span>
    </div>
  <% end %>
</section>
<section class="mb-6">
  <div class="flex items-center justify-start space-x-4 text-gray-500 dark:text-gray-400 font-light text-sm">
    <div>
      Number of questions: <span id="question_counter"><%= @room.approved_question_count %></span>
      <% if (current_user&.has_role? :admin, @room) %>
        <span class="font-light text-xs">(approved)</span>
      <% end %>
    </div>
    <% if (current_user&.has_role? :admin, @room) %>
      <div>
        New questions: <span id="asked_question_counter"><%= @room.asked_question_count %></span>
      </div>
    <% end %>
  </div>
  <div id="questions" data-controller="empty-state order-questions" class="flex flex-col py-2" data-order-questions-active-class="text-blue-600 border-blue-600 active dark:text-blue-500 dark:border-blue-500" data-order-questions-inactive-class="border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">
    <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700 mb-2">
      <ul class="flex flex-wrap -mb-px">
        <li class="mr-2">
          <button data-action="order-questions#refreshWithOrder" data-order-questions-order-param="trending" data-order-questions-target="tab" class="inline-block p-4 border-b-2" aria-current="page">Trending</button>
        </li>
        <li class="mr-2">
          <button data-action="order-questions#refreshWithOrder" data-order-questions-order-param="recent" data-order-questions-target="tab" class="inline-block p-4 border-b-2">Recent</button>
        </li>
        <li class="mr-2">
          <button data-action="order-questions#refreshWithOrder" data-order-questions-order-param="oldies" data-order-questions-target="tab" class="inline-block p-4 border-b-2">Oldies</button>
        </li>
        <% if user_signed_in? %>
          <li class="mr-2">
            <button data-action="order-questions#refreshWithOrder" data-order-questions-order-param="justyours" data-order-questions-target="tab" class="inline-block p-4 border-b-2">Yours</button>
          </li>
        <% end %>
      </ul>
    </div>
    <div data-empty-state-target="emptyState">
      <%= render "empty_state" %>
    </div>
    <%= render @questions %>
  </div>
</section>
<%# Event QR Code will be placed here %>
<section class="fixed bottom-12 right-12 w-64 h-64 md:block hidden"
        data-qr-code-generator-server-url-value=<%= room_url(@room) %>
        data-controller="qr-code-generator">
  <h4 class="font-bold text-sm uppercase text-slate-800 dark:text-slate-400 text-center">
    Scan to Join
  </h4>
  <% if current_user&.id == @room.event.user_id %>
    <div class="bg-white dark:bg-gray-900 rounded-2xl cursor-pointer" 
         data-action="click->qr-code-generator#download" data-popover-target="popover-download">
      <div class="flex justify-center items-center" data-qr-code-generator-target="container">
        <div data-qr-code-generator-target="canvas"></div>
      </div>
    </div>
    <div data-popover id="popover-download" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
      <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
        <h3 class="font-semibold text-gray-900 dark:text-white">Download</h3>
      </div>
      <div class="px-3 py-2">
        <p>Click the QR Code to download it has an SVG file.</p>
      </div>
      <div data-popper-arrow></div>
    </div>
  <% else %>
    <div class="bg-white dark:bg-gray-900 rounded-2xl">
      <div class="flex justify-center items-center" data-qr-code-generator-target="container">
        <div data-qr-code-generator-target="canvas"></div>
      </div>
    </div>
  <% end %>
</section>
