<!-- app/views/sessions/new.html.erb -->
<div class="container pt-9">
  <div class="m-auto md:w-8/12 lg:w-5/12">
    <div class="text-center pb-9">
      <!-- TODO: ADD LOGO HERE -->
      <h1 class="font-bold text-4xl text-slate-800">Sign in to your account</h1>
      <div class="text-sm text-slate-500 pt-2">Or <%= link_to 'create your account for free', sign_up_path, class: "text-green-500 hover:text-green-700" %></div>
    </div>
    <div class="mx-auto">
      <%= form_with url: login_path, scope: :user do |form| %>
        <div class="mb-4">
          <%= form.email_field :email, required: true, autocomplete: "email", class: "form-input w-full block rounded-xl border-green-500 border-2", placeholder: "Your email address" %>
        </div>
        <div class="mb-6">
          <%= form.password_field :password, required: true, autocomplete: "current-password", class: "form-input w-full block rounded-xl border-green-500 border-2", placeholder: "Password" %>
        </div>
        <div class="flex flex-row items-center justify-between mb-6">
          <div class="flex flex-1 items-center space-x-2">
            <%= form.check_box :remember_me, class: "form-checkbox rounded border-green-500" %>
            <%= form.label :remember_me %>
          </div>
          <div>
            <%= link_to 'Forgot your password?', new_password_path, class: "text-green-500 hover:text-green-700" %>
          </div>
        </div>
        <%= form.submit "Sign In", class: "w-full block py-3 font-medium text-white uppercase bg-green-500 rounded-xl hover:bg-green-400 transition duration-300 ease-in-out" %>
      <% end %>
      <h4 class="text-center text-sm font-light text-slate-500 py-3">-- Or --</h4>
      <div class="mb-4">
        <%= button_to "/auth/google_oauth2", class: "w-full block py-3 font-medium text-white bg-green-400 rounded-xl", data: { turbo: false } do %>
          <div class="flex flex-1 justify-center items-center">
            <svg class="h-7 w-7 pr-2" fill="currentColor" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M11.99,13.9 L11.99,10.18 L21.35,10.18 C21.49,10.81 21.6,11.4 21.6,12.23 C21.6,17.94 17.77,22 12,22 C6.48,22 2,17.52 2,12 C2,6.48 6.48,2 12,2 C14.7,2 16.96,2.99 18.69,4.61 L15.85,7.37 C15.13,6.69 13.87,5.89 12,5.89 C8.69,5.89 5.99,8.64 5.99,12.01 C5.99,15.38 8.69,18.13 12,18.13 C15.83,18.13 17.24,15.48 17.5,13.91 L11.99,13.91 L11.99,13.9 Z" id="Shape"></path>
            </svg>
            <div>
              Continue with Google
            </div>
          </div>
        <% end %>
      </div>
      <div>
        <%= link_to new_password_path, class: "w-full block py-3 font-medium text-white bg-green-700 rounded-xl" do %>
          <div class="flex flex-1 justify-center items-center">
            <svg class="h-7 w-7 pr-2" fill="currentColor" viewBox="-52.01 0 560.035 560.035" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M380.844 297.529c.787 84.752 74.349 112.955 75.164 113.314-.622 1.988-11.754 40.191-38.756 79.652-23.343 34.117-47.568 68.107-85.731 68.811-37.499.691-49.557-22.236-92.429-22.236-42.859 0-56.256 21.533-91.753 22.928-36.837 1.395-64.889-36.891-88.424-70.883-48.093-69.53-84.846-196.475-35.496-282.165 24.516-42.554 68.328-69.501 115.882-70.192 36.173-.69 70.315 24.336 92.429 24.336 22.1 0 63.59-30.096 107.208-25.676 18.26.76 69.517 7.376 102.429 55.552-2.652 1.644-61.159 35.704-60.523 106.559M310.369 89.418C329.926 65.745 343.089 32.79 339.498 0 311.308 1.133 277.22 18.785 257 42.445c-18.121 20.952-33.991 54.487-29.709 86.628 31.421 2.431 63.52-15.967 83.078-39.655"></path>
            </svg>
            <div>
              Continue with Apple
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
