<!-- app/views/users/new.html.erb -->
<div class="container pt-9">
  <div class="m-auto md:w-8/12 lg:w-5/12">
    <div class="text-center pb-4">
      <!-- TODO: ADD LOGO HERE -->
      <h1 class="inline-block mb-2 font-extrabold text-3xl tracking-tight text-slate-800 dark:text-white">Create your account</h1>
      <div class="text-slate-500 mt-9">Creating your account is free and let you ask questions on the platform.</div>
    </div>
    <div class="mx-auto">
      <%= form_with model: @user do |form| %>
        <%= render partial: "shared/form_errors", locals: { object: form.object } %>
        <div class="mb-6">
          <%= form.label :email, "Your email", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
          <%= form.email_field :email, required: true, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder:"your_email@example.com" %>
        </div>
        <%= form.fields_for :profile do |f| %>
          <div class="mb-6">
            <%= f.label :nickname, "How you want to introduce yourself to the others", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
            <%= f.text_field :nickname, required: true, autocomplete: "nickname", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder:"Your full name, nickname,... min 3 characters" %>
          </div>
        <% end %>
        <div class="mb-6">
          <%= form.label :password, "Your password", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
          <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "min 6 characters", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>
        <div class="mb-6">
          <%= form.submit "Create my account", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full  px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
        </div>
        <div class="text-sm text-slate-500">By clicking on CREATE MY ACCOUNT, you agree to the Terms of Service and Privacy of ThePew and our code of conduct</div>
        <div class="text-sm text-slate-500 mt-3">After clicking on CREATE MY ACCOUNT, you will receive an email to verify your email address. Unverified accounts cannot be used to ask questions.</div>
      <% end %>
    </div>
  </div>
</div>