<!-- app/views/users/new.html.erb -->
<%= form_with model: @user, url: sign_up_path do |form| %>
  <%= render partial: "shared/form_errors", locals: { object: form.object } %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email, required: true, autofocus: true, autocomplete: "email" %>
  </div>
  <%= form.fields_for :profile do |f| %>
    <div>
      <%= f.label :nickname %>
      <%= f.text_field :nickname, required: true, autocomplete: "nickname" %>
    </div>
  <% end %>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true, autocomplete: "new-password" %>
  </div>
  <%= form.submit "Sign Up" %>
<% end %>
