<nav class="flex justify-between items-center py-3 px-3 mx-auto w-full max-w-8xl lg:px-4">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <%= link_to root_path, class: "flex items-center" do %>
      <svg class="h-10 w-10" viewBox="0 0 256 309" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
        <g transform="matrix(1,0,0,1,-872.41,-743.13)">
          <g>
            <path d="M1054.8,808.19L918.15,808.19C915.44,808.19 912.94,807.65 910.63,806.68C907.18,805.22 904.2,802.75 902.11,799.66C900.02,796.56 898.82,792.91 898.82,788.86C898.82,786.15 899.36,783.65 900.33,781.34C901.79,777.89 904.26,774.91 907.35,772.82C910.45,770.73 914.1,769.53 918.15,769.53L1077,769.53C1080.37,769.53 1083.52,770.21 1086.41,771.42C1090.73,773.24 1094.45,776.33 1097.06,780.19C1099.67,784.06 1101.18,788.64 1101.18,793.7L1101.18,849.34C1101.18,852.71 1100.5,855.86 1099.29,858.75C1097.47,863.07 1094.38,866.79 1090.52,869.4C1086.65,872.01 1082.07,873.52 1077.01,873.52L872.42,873.52L872.42,1006.16C872.42,1012.41 873.69,1018.43 876,1023.88C879.47,1032.07 885.22,1038.99 892.48,1043.9C899.73,1048.81 908.56,1051.69 917.94,1051.68C924.19,1051.68 930.21,1050.41 935.66,1048.1C943.85,1044.63 950.77,1038.88 955.68,1031.62C960.59,1024.37 963.47,1015.54 963.46,1006.16L963.46,923.25L937.06,923.25L937.06,1006.16C937.06,1008.84 936.52,1011.32 935.56,1013.6C934.12,1017.01 931.68,1019.96 928.62,1022.02C925.55,1024.08 921.95,1025.27 917.94,1025.28C915.26,1025.28 912.78,1024.75 910.5,1023.78C907.09,1022.34 904.14,1019.9 902.08,1016.84C900.02,1013.77 898.83,1010.17 898.82,1006.16L898.82,899.93L1077,899.93C1083.95,899.93 1090.63,898.51 1096.69,895.95C1105.78,892.1 1113.48,885.7 1118.93,877.64C1124.38,869.58 1127.58,859.78 1127.58,849.35L1127.58,793.71C1127.58,786.76 1126.16,780.08 1123.6,774.02C1119.75,764.93 1113.36,757.23 1105.29,751.78C1097.23,746.33 1087.43,743.13 1077,743.13L918.15,743.13C911.87,743.13 905.82,744.41 900.34,746.73C892.12,750.21 885.16,755.99 880.23,763.28C875.3,770.56 872.41,779.43 872.41,788.86C872.41,795.14 873.69,801.19 876.01,806.67C879.49,814.89 885.27,821.85 892.56,826.78C899.84,831.71 908.71,834.6 918.14,834.6L1054.79,834.6L1054.79,808.19L1054.8,808.19Z" style="fill:rgb(83,134,255);fill-rule:nonzero;"/>
          </g>
        </g>
      </svg>
    <% end %>
    <div class="flex items-center md:order-2 ">
      <!-- Dark/Light mode selector -->
      <button data-controller="mode" data-action="click->mode#toggleMode" id="theme-toggle" type="button" class="hidden md:inline text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
        <svg data-mode-target="darkIcon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
        <svg data-mode-target="lightIcon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
      </button>
      <% if user_signed_in? %>
        <!-- Setup Notification Websocket -->
        <%= turbo_stream_from current_user, :notifications %>
        <!-- Notifications -->
        <%= render "shared/notifications" %>
        <!-- User Menu -->
        <%= render "shared/user_menu" %>
      <% else %>
        <%= link_to "Sign in", login_path, class: "hidden md:inline py-2 pr-8 pl-3 md:rounded md:bg-transparent md:text-sm md:font-medium text-blue-700 dark:text-white" %>
        <%= link_to "Get started", new_user_path, class: "hidden md:inline text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
      <% end %>
      <div data-controller="hamburger">
        <button data-action="click->hamburger#toggle" data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-cta" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
        </button>
      </div>
    </div>
    <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="navbar-cta">
      <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
        <% if user_signed_in? %>
          <li>
            <%= link_to_unless_current 'Manage events', events_path, class: 'block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700' do %>
              <%= link_to 'Manage events', events_path, class: 'block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white', 'aria-current': true %>
            <% end %>
          </li>
          <li>
            <%= link_to_unless_current 'Manage polls', polls_path, class: 'block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700' do %>
              <%= link_to 'Manage polls', polls_path, class: 'block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white', 'aria-current': true %>
            <% end %>
          </li>
          <li>
            <%= link_to_unless_current 'My Insights', dashboard_path, class: 'block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700' do %>
              <%= link_to 'My Insights', dashboard_path, class: 'block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white', 'aria-current': true %>
            <% end %>
          </li>
          <li class="md:hidden">
            <%= link_to_unless_current 'Profile', edit_account_path(current_user), class: 'block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700' do %>
              <%= link_to 'Profile', edit_account_path(current_user), class: 'block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white', 'aria-current': true %>
            <% end %>
          </li>
          <li class="md:hidden">
            <%= link_to_unless_current 'Logout', logout_path, data: { turbo_method: :delete }, class: 'block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700' do %>
              <%= link_to 'Logout', logout_path, data: { turbo_method: :delete }, class: 'block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white' %>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to_unless_current 'Pricing', subscriptions_path, class: 'block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700' do %>
              <%= link_to 'Pricing', subscriptions_path, class: 'block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white', 'aria-current': true  %>
            <% end %>
          </li>
          <li class="md:hidden">
            <%= link_to_unless_current 'Sign in', login_path, class: 'block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700' do %>
              <%= link_to 'Sign in', login_path, class: 'block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white', 'aria-current': true %>
            <% end %>
          </li>
          <li class="md:hidden">
            <%= link_to_unless_current 'Get started', new_user_path, class: 'block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700' do %>
              <%= link_to 'Get started', new_user_path, class: 'block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white', 'aria-current': true %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
