<div class="flex flex-row items-center justify-between shadow hover:bg-green-50 rounded px-3 py-4">
  <div class="flex flex-col">
    <div>
      <%= event.name.strip %> // Scheduled for: <%= event.start_date.strftime("%B %d, %Y") %>
    </div>
    <div class="text-xs font-light pt-2">
      created by <%= event.user.id == current_user.id ? 'you' : event.user.profile.nickname.strip %> <%= time_ago_in_words event.created_at %> ago
    </div>
    <div class="text-xs font-light pt-1">
      updated: <%= event.updated_at %>
    </div>
  </div>
  <div class="flex flex-row items-center justify-end space-x-3">
    <div>
      <%= link_to "Display Event QR Code", event_path(event), class: "text-sm text-slate-500 hover:text-slate-700", target: :_blank %>
    </div>
    <div class="text-slate-700 text-sm flex flex-row items-center pr-4" data-controller="clipboard">
      Event PIN: <input type="text" value="<%= event.short_code %>" readonly size="3" class="pl-1" data-clipboard-target="source">
      <span class="text-slate-500 pl-2" data-clipboard-target="copy">
        <div data-controller="popper">
          <button data-action="clipboard#copy mouseenter->popper#show mouseleave->popper#hide" data-popper-target="element">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2" />
            </svg>
          </button>
          <div id="tooltip" role="tooltip" data-popper-target="tooltip">
            Copy PIN
            <div id="arrow" data-popper-arrow></div>
          </div>
        </div>
      </span>
      <span class="hidden text-green-500 pl-2" data-clipboard-target="copied">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
        </svg>
      </span>
    </div>
    <div data-controller="popper">
      <%= link_to nil, class: "text-slate-500 hover:text-slate-700", "data-popper-target":"element", "data-action": "mouseenter->popper#show mouseleave->popper#hide" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
        </svg>
      <% end %>
      <div id="tooltip" role="tooltip" data-popper-target="tooltip">
        Moderate
        <div id="arrow" data-popper-arrow></div>
      </div>
    </div>
    <div data-controller="popper">
      <%= link_to edit_event_path(event), class: "text-slate-500 hover:text-slate-700", "data-popper-target":"element", "data-action": "mouseenter->popper#show mouseleave->popper#hide" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
          <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
        </svg>
      <% end %>
      <div id="tooltip" role="tooltip" data-popper-target="tooltip">
        Edit
        <div id="arrow" data-popper-arrow></div>
      </div>
    </div>
    <div data-controller="popper">
      <%= link_to event_path(event), data: { turbo_method: :delete,  turbo_confirm: 'Are you sure?' }, class: "text-red-500 hover:text-red-700", "data-popper-target":"element", "data-action": "mouseenter->popper#show mouseleave->popper#hide" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
        </svg>
      <% end %>
      <div id="tooltip" role="tooltip" data-popper-target="tooltip">
        Delete
        <div id="arrow" data-popper-arrow></div>
      </div>
    </div>
  </div>
</div>
