<%= form_with model: event,
              
              target: :_top do |form| %>
  <%= render partial: 'shared/form_errors', locals: { object: event } %>
  <div class="mb-4">
    <div class="flex flex-col">
      <%= form.label :name %>
      <span class="text-sm font-light">Max 250 characters, but we recommend to keep it simple 😎</span>
    </div>
    <%= form.text_field :name, required: true, class: "form-input w-full block rounded-xl border-slate-300 border-2 focus:outline-none focus:border-green-500 focus:ring-green-500" %>
  </div>
  <div class="mb-6">
    <%= form.label :start_date %>
    <%= form.date_field :start_date, min: 0.days.ago, required: true, class: "form-input w-full block rounded-xl border-slate-300 border-2 focus:outline-none focus:border-green-500 focus:ring-green-500" %>
  </div>
  <div class="flex flex-row justify-between space-x-2 items-center">
    <%= form.submit class: "w-full block py-3 font-medium text-white uppercase bg-green-500 rounded-xl hover:bg-green-400 transition duration-300 ease-in-out" %>
    <% unless form.object.new_record? %>
      <%= link_to "Cancel", events_path,
          class: "w-full block py-3 font-medium text-green-500 text-center uppercase border-2 border-green-500 rounded-xl hover:text-green-800 hover:border-green-800 transition duration-300 ease-in-out",
          data: {turbo_frame: :events} unless event.new_record? %>
    <% end %>
  </div>
<% end %>
