<%= turbo_stream_from [current_user.id, :events] %>
<section>
  <div class="mb-6">
    <% if user_signed_in? %>
      <%= link_to "Create a new event", new_event_path, data: {turbo_frame: "modal"}, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full  px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
      <%= turbo_frame_tag "modal" %>
    <% end %>
  </div>
</section>
<% if !current_user.confirmed %>
  <section>
    <%= render "shared/unconfirmed_account" %>
  </section>
<% end %>
<section class="pt-4">
  <h2 class="inline-block mb-2 font-extrabold text-2xl tracking-tight text-slate-800 dark:text-white">Events: </h2>
  <div id="events" data-controller="empty-state" class="pt-2 space-y-2">
    <div data-empty-state-target="emptyState">
      <%= render "empty_state" %>
    </div>
    <%= render @events %>
  </div>
</section>
