<%= turbo_stream_from :events %>
<section>
  <div>
    <% if user_signed_in? %>
      <%= link_to "New Event", new_event_path, data: {turbo_frame: "modal"}, class: "px-3 py-2 rounded bg-green-500 text-white" %>
    <% end %>
    <%= turbo_frame_tag "modal" %>
  </div>
</section>
<section class="pt-4">
  <h2 class="text-xl font-bold">Events: </h2>
  <div class="pt-2 space-y-2">
    <%# turbo_stream_from :events %>
    <%= turbo_stream_from [current_user.id, :events] %>
    <div id="events" class="overflow-y-scroll">
      <%= render @events %>
    </div>
  </div>
</section>
