<%# app/views/events/user_stats.html.erb %>
<section class="mb-4">
  <h2 class="mb-4 text-xl font-bold tracking-tight leading-none text-gray-900 lg:mb-6 md:text-3xl xl:text-4xl dark:text-white">
    Your events: 
  </h2>
  <div class="block text-gray-700 dark:text-gray-400">
    First event created on: <%= @first_event_date&.strftime("%B %d, %Y") %>
  </div>
  <div class="block text-gray-700 dark:text-gray-400 mb-2">
    Last event created on: <%= @last_event_date&.strftime("%B %d, %Y") %>
  </div>
  <div class="flex space-x-2 items-center justify-start">
    <div class="bg-gray-800 p-4 rounded w-52">
      <div class="flex flex-row justify-start items-center space-x-2">
        <h3 class="text-gray-400 text-xl font-light">Created</h3>
      </div>
      <div class="text-white font-extrabold text-6xl py-3">
        <%= @created_events_count %>
      </div>
      <div class="flex flex-row justify-start items-center space-x-2">
      </div>
    </div>
    <div class="bg-gray-700 p-4 rounded w-52">
      <div class="flex flex-row justify-start items-center space-x-2">
        <h3 class="text-gray-400 text-xl font-light">Total Questions</h3>
      </div>
      <div class="text-white font-extrabold text-6xl py-3">
        <%= @questions_on_user_events_count %>
      </div>
      <div class="flex flex-row justify-start items-center space-x-2">
      </div>
    </div>
    <div class="bg-gray-800 p-4 rounded w-52">
      <div class="flex flex-row justify-start items-center space-x-2">
        <h3 class="text-gray-400 text-xl font-light">Total Votes</h3>
      </div>
      <div class="text-white font-extrabold text-6xl py-3">
        <%= @votes_on_user_event_questions_count %>
      </div>
      <div class="flex flex-row justify-start items-center space-x-2">
      </div>
    </div>
  </div>
</section>
<section class="mt-6 mb-4">
  <h2 class="mb-4 text-xl font-bold tracking-tight leading-none text-gray-900 lg:mb-6 md:text-3xl xl:text-4xl dark:text-white">
    Your participation: 
  </h2>
  <div class="block text-gray-700 dark:text-gray-400">
    First question asked on: <%= @first_question_date&.strftime("%B %d, %Y") %>
  </div>
  <div class="block text-gray-700 dark:text-gray-400 mb-2">
    Last question asked on: <%= @last_question_date&.strftime("%B %d, %Y") %>
  </div>
  <div class="flex space-x-2 items-center justify-start">
    <div class="bg-gray-800 p-4 rounded w-52">
      <div class="flex flex-row justify-start items-center space-x-2">
        <h3 class="text-gray-400 text-xl font-light">Total Questions</h3>
      </div>
      <div class="text-white font-extrabold text-6xl py-3">
        <%= @questions_asked_count %>
      </div>
      <div class="flex flex-row justify-start items-center space-x-2">
      </div>
    </div>
    <div class="bg-gray-700 p-4 rounded w-52">
      <div class="flex flex-row justify-start items-center space-x-2">
        <h3 class="text-gray-400 text-xl font-light">Total Votes</h3>
      </div>
      <div class="text-white font-extrabold text-6xl py-3">
        <%= @votes_on_questions_count %>
      </div>
      <div class="flex flex-row justify-start items-center space-x-2">
      </div>
    </div>
  </div>
</section>
