<%# Privacy Policy %>
<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  Agreements & Policies
</h1>
<div class="mt-10 mb-6">
  <h2 class="my-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
    Policies
  </h2>
  <ul class="mb-3 list-disc md:ml-6">
    <li class="font-light text-gray-500 dark:text-gray-400">
      <%= link_to "Terms of Service", "/legal/tos", class: "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline" %>
    </li>
    <li class="font-light text-gray-500 dark:text-gray-400">
      <%= link_to "Privacy Policy", "/legal/privacy", class: "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline" %>
    </li>
    <li class="font-light text-gray-500 dark:text-gray-400">
      <%= link_to "Cookie Policy", "/legal/cp", class: "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline" %>
    </li>
    <li class="font-light text-gray-500 dark:text-gray-400">
      <%= link_to "Privacy Rights Policy", "/legal/prp", class: "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline" %>
    </li>
    <li class="font-light text-gray-500 dark:text-gray-400">
      <%= link_to "Security Policy", "/legal/sp", class: "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline" %>
    </li>
    <li class="font-light text-gray-500 dark:text-gray-400">
      <%= link_to "CCPA", "/legal/ccpa", class: "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline" %>
    </li>
  </ul>
</div>
<div>
  <h2 class="my-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
    Data Processing Agreements
  </h2>
</div>
