<!-- app/views/connectors/index.html.erb -->
<%# Adding a blur when the user's organization has no valid subscription %>
<% if !current_user.organization&.subscription&.active? %>
  <div class="overlay fixed inset-0 bg-black bg-opacity-50 z-40 flex items-center justify-center">
    <div class="mx-auto p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
      <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">Unlock Insights</h5>
      <p class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">Choose your plan to connect ThePew to different connectors and gain actionable knowledge.</p>
      <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
        <%= link_to subscriptions_path, class: "w-full sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700" do %>
          <svg data-slot="icon" class="me-3 w-7 h-7" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="open lock" role="img" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M18 1.5c2.9 0 5.25 2.35 5.25 5.25v3.75a.75.75 0 0 1-1.5 0V6.75a3.75 3.75 0 1 0-7.5 0v3a3 3 0 0 1 3 3v6.75a3 3 0 0 1-3 3H3.75a3 3 0 0 1-3-3v-6.75a3 3 0 0 1 3-3h9v-3c0-2.9 2.35-5.25 5.25-5.25Z"></path>
          </svg>
          <div class="text-left rtl:text-right">
            <div class="mb-1 text-xs">Unlock Insights</div>
            <div class="-mt-1 font-sans text-sm font-semibold">Select a Plan</div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<%# The page content%>
<%= turbo_frame_tag "settings_main" do %>
  <h1 class="inline-block mb-2 font-extrabold text-3xl tracking-tight text-slate-800 dark:text-white">
    Connectors
  </h1>
  <div class="flex">
    <aside id="default-sidebar" class="w-64 mt-6 transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
      <div class="px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
          <li>
            <a href="#documents" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625zM7.5 15a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 017.5 15zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H8.25z"></path>
                <path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z"></path>
              </svg>
              <span class="ml-3">Documents</span>
            </a>
          </li>
          <li>
            <a href="#communication" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path d="M4.913 2.658c2.075-.27 4.19-.408 6.337-.408 2.147 0 4.262.139 6.337.408 1.922.25 3.291 1.861 3.405 3.727a4.403 4.403 0 00-1.032-.211 50.89 50.89 0 00-8.42 0c-2.358.196-4.04 2.19-4.04 4.434v4.286a4.47 4.47 0 002.433 3.984L7.28 21.53A.75.75 0 016 21v-4.03a48.527 48.527 0 01-1.087-.128C2.905 16.58 1.5 14.833 1.5 12.862V6.638c0-1.97 1.405-3.718 3.413-3.979z"></path>
                <path d="M15.75 7.5c-1.376 0-2.739.057-4.086.169C10.124 7.797 9 9.103 9 10.609v4.285c0 1.507 1.128 2.814 2.67 2.94 1.243.102 2.5.157 3.768.165l2.782 2.781a.75.75 0 001.28-.53v-2.39l.33-.026c1.542-.125 2.67-1.433 2.67-2.94v-4.286c0-1.505-1.125-2.811-2.664-2.94A49.392 49.392 0 0015.75 7.5z"></path>
              </svg>
              <span class="ml-3">Communication</span>
            </a>
          </li>
          <li>
            <a href="#polls" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M9 1.5H5.625c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5zm6.61 10.936a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 14.47a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"></path>
                <path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z"></path>
              </svg>
              <span class="ml-3">Polls</span>
            </a>
          </li>
          <li>
            <a href="#surveys" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path d="M4.913 2.658c2.075-.27 4.19-.408 6.337-.408 2.147 0 4.262.139 6.337.408 1.922.25 3.291 1.861 3.405 3.727a4.403 4.403 0 00-1.032-.211 50.89 50.89 0 00-8.42 0c-2.358.196-4.04 2.19-4.04 4.434v4.286a4.47 4.47 0 002.433 3.984L7.28 21.53A.75.75 0 016 21v-4.03a48.527 48.527 0 01-1.087-.128C2.905 16.58 1.5 14.833 1.5 12.862V6.638c0-1.97 1.405-3.718 3.413-3.979z"></path>
                <path d="M15.75 7.5c-1.376 0-2.739.057-4.086.169C10.124 7.797 9 9.103 9 10.609v4.285c0 1.507 1.128 2.814 2.67 2.94 1.243.102 2.5.157 3.768.165l2.782 2.781a.75.75 0 001.28-.53v-2.39l.33-.026c1.542-.125 2.67-1.433 2.67-2.94v-4.286c0-1.505-1.125-2.811-2.664-2.94A49.392 49.392 0 0015.75 7.5z"></path>
              </svg>
              <span class="ml-3">Surveys</span>
            </a>
          </li>
          <li>
            <a href="#hr" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M8.25 6.75a3.75 3.75 0 117.5 0 3.75 3.75 0 01-7.5 0zM15.75 9.75a3 3 0 116 0 3 3 0 01-6 0zM2.25 9.75a3 3 0 116 0 3 3 0 01-6 0zM6.31 15.117A6.745 6.745 0 0112 12a6.745 6.745 0 016.709 7.498.75.75 0 01-.372.568A12.696 12.696 0 0112 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 01-.372-.568 6.787 6.787 0 011.019-4.38z"></path>
                <path d="M5.082 14.254a8.287 8.287 0 00-1.308 5.135 9.687 9.687 0 01-1.764-.44l-.115-.04a.563.563 0 01-.373-.487l-.01-.121a3.75 3.75 0 013.57-4.047zM20.226 19.389a8.287 8.287 0 00-1.308-5.135 3.75 3.75 0 013.57 4.047l-.01.121a.563.563 0 01-.373.486l-.115.04c-.567.2-1.156.349-1.764.441z"></path>
              </svg>
              <span class="ml-3">HR</span>
            </a>
          </li>
          <li>
            <a href="#marketing" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M2.25 2.25a.75.75 0 000 1.5H3v10.5a3 3 0 003 3h1.21l-1.172 3.513a.75.75 0 001.424.474l.329-.987h8.418l.33.987a.75.75 0 001.422-.474l-1.17-3.513H18a3 3 0 003-3V3.75h.75a.75.75 0 000-1.5H2.25zm6.54 15h6.42l.5 1.5H8.29l.5-1.5zm8.085-8.995a.75.75 0 10-.75-1.299 12.81 12.81 0 00-3.558 3.05L11.03 8.47a.75.75 0 00-1.06 0l-3 3a.75.75 0 101.06 1.06l2.47-2.47 1.617 1.618a.75.75 0 001.146-.102 11.312 11.312 0 013.612-3.321z"></path>
              </svg>
              <span class="ml-3">Marketing</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
    <div class="p-4 flex-grow max-w-6xl mx-auto w-full">
      <section id="documents">
        <h3 class="text-gray-400 text-xl font-light mb-4">Documents</h3>
        <div class="grid grid-cols-3 gap-4 mb-4">
          <%= render partial: "connector", locals: { connector: Connector.new(name: "Hubspot", description: "CRM", version: "1.2.3"), installed: true } %>
        </div>
      </section>
      <section id="communication">
        <h3 class="text-gray-400 text-xl font-light mb-4">Communication</h3>
        <div class="grid grid-cols-3 gap-4 mb-4">
          <%= render partial: "connector", locals: { connector: Connector.new(name: "Microsoft Teams", description: "Collaboration", version: "1.2.3"), installed: false } %>
          <%= render partial: "connector", locals: { connector: Connector.new(name: "Zoom", description: "Meetings", version: "1.2.3"), installed: true } %>
          <%= render partial: "connector", locals: { connector: Connector.new(name: "Slack", description: "Chat", version: "1.2.3"), installed: true } %>
        </div>
      </section>
      <section id="polls">
        <h3 class="text-gray-400 text-xl font-light mb-4">Polls</h3>
        <div class="grid grid-cols-3 gap-4 mb-4">
          <%= render partial: "connector", locals: { connector: Connector.new(name: "Typeform", description: "Forms & Surveys", version: "1.2.3"), installed: false } %>
          <%= render partial: "connector", locals: { connector: Connector.new(name: "Google Form", description: "Forms", version: "1.2.3"), installed: true } %>
          <%= render partial: "connector", locals: { connector: Connector.new(name: "Mailchimp", description: "Mailing & Surveys", version: "1.2.3"), installed: false } %>
          <%= render partial: "connector", locals: { connector: Connector.new(name: "Survey Monkey", description: "Surveys", version: "1.2.3"), installed: false } %>
        </div>
      </section>
      <section id="surveys">
        <h3 class="text-gray-400 text-xl font-light mb-4">Surveys</h3>
        <div class="grid grid-cols-3 gap-4 mb-4">
          <%= render partial: "connector", locals: { connector: Connector.new(name: "Typeform", description: "Forms & Surveys", version: "1.2.3"), installed: false } %>
          <%= render partial: "connector", locals: { connector: Connector.new(name: "Google Form", description: "Forms", version: "1.2.3"), installed: true } %>
          <%= render partial: "connector", locals: { connector: Connector.new(name: "Mailchimp", description: "Mailing & Surveys", version: "1.2.3"), installed: false } %>
          <%= render partial: "connector", locals: { connector: Connector.new(name: "Survey Monkey", description: "Surveys", version: "1.2.3"), installed: false } %>
        </div>
      </section>
      <section id="hr">
        <h3 class="text-gray-400 text-xl font-light mb-4">HR</h3>
        <div class="grid grid-cols-3 gap-4 mb-4">
        </div>
      </section>
    </div>
  </div>
<% end %>
<% if !current_user.organization&.subscription&.active? %>
  <script>
    // No need for DOMContentLoaded since this script can be at the bottom
    document.body.classList.add('prevent-scroll'); // Optionally prevent scrolling when overlay is active
  </script>
  <style>
    .blur {
      filter: blur(8px);
    }
    .prevent-scroll {
      overflow: hidden;
    }
  </style>
<% end %>