<%# app/views/polls/_form.html.erb %>
<%= form_with model: poll do |form| %>
  <%= render partial: 'shared/form_errors', locals: { object: poll } %>
  <div class="mb-6">
    <%= form.label :title, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
    <%= form.text_field :title, required: true, class:"bg-gray-50 border border-gray-300 text-gray-900 text-base md:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Keep it simple and below 250 characters 😎</p>
  </div>
  <div class="mb-6 flex flex-col md:flex-row md:justify-between items-center md:space-x-2 lg:space-x-4 space-y-2">
    <div>
      <%= form.label :description, "AI Description", class: "block text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
        (optional) Describe the poll, vote, etc. This information is only used by our AI to better extract topics and intend from your audience.
      </p>
      <%= form.rich_text_area :description, 
        class:"h-24 md:h-32 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", 
        placeholder: "Add a short text describing the poll, vote. You can use structured text" %>
    </div>
    <div>
      <%= form.label :public_description, "Public Description", class: "block text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
        (optional) Describe the poll, vote to your audience, provide participants with more information about the poll or vote.
      </p>
      <%= form.rich_text_area :public_description, 
        class:"h-24 md:h-32 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", 
        placeholder: "Write text, embed links to share with the participants." %>
    </div>
  </div>
  <% if poll.persisted? %>
    <%# Offer to copy event link %>
    <div data-controller="clipboard" class="p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
      <input type="hidden" value="<%= poll_url(@poll) %>" data-clipboard-target="source" readonly />
      <button data-action="clipboard#copy mouseenter->popper#show mouseleave->popper#hide" class="flex items-center">
        <div data-clipboard-target="copy">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500 dark:text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
          </svg>
        </div>
        <div data-clipboard-target="copied" class="hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-500 dark:text-green-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
          </svg>
        </div>
        <span class="flex-1 ml-3 whitespace-nowrap">link to the Poll</span>
      </button>
    </div>
  <% end %>
  <div class="mb-6 flex flex-col md:flex-row items-center justify-start space-x-2">
    <div>
      <%= form.label :duration, "Display duration", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <%= form.number_field :duration, inputmode: "numeric", class:"bg-gray-50 border border-gray-300 text-gray-900 text-base md:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Time in seconds during which the poll is displayed and open for vote. When empty, the poll remains opened.</p>
    </div>
    <div>
      <%= form.label :max_votes, "Maximum options", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <%= form.number_field :max_votes, inputmode: "numeric", class:"bg-gray-50 border border-gray-300 text-gray-900 text-base md:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">The maximum number of options that a user can vote for. If kept empty, the user can vote for all the options from the poll.</p>
    </div>
    <div>
      <%= form.label :num_votes, "Minimum options", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <%= form.number_field :num_votes, inputmode: "numeric", class:"bg-gray-50 border border-gray-300 text-gray-900 text-base md:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">The minimum number of option(s) a user can vote for. If kept empty there is no minimum required.</p>
    </div>
  </div>
  <div class="mb-6 flex flex-col md:flex-row md:items-center justify-start md:space-x-4">
    <div>
      <label class="relative inline-flex items-center cursor-pointer">
        <%= form.check_box :add_option, class: "sr-only peer" %>
        <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Allow users to add an option after voting</span>
      </label>
    </div>
    <div>
      <label class="relative inline-flex items-center cursor-pointer">
        <%= form.check_box :is_anonymous, class: "sr-only peer" %>
        <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Make it anonymous</span>
      </label>
    </div>
  </div>
  <%# Render the type and invite section %>
  <h3 class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Choose who can participate:</h3>
  <%= render "layouts/invites/resource_invite", form: form, resource: poll %>
  <div class="mb-6">
    <h3 class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Choose what users can do:</h3>
    <ul class="grid w-full gap-6 md:grid-cols-3">
      <li>
        <%= form.check_box :selectors, { include_hidden: false, multiple: true, id: "selectors_upvote", value: "", class: "hidden peer" }, "upvote" %>
        <label for="selectors_upvote" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
          <div class="block">
            <svg class="mb-2 text-green-400 w-7 h-7" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z"></path>
            </svg>
            <div class="w-full text-lg font-semibold">Up vote</div>
            <div class="w-full text-sm">aka like the idea</div>
          </div>
        </label>
      </li>
      <li>
        <%= form.check_box :selectors, { include_hidden: false, multiple: true, id: "selectors_downvote", value: "", class: "hidden peer" }, "downvote" %>
        <label for="selectors_downvote" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
          <div class="block">
            <svg class="mb-2 text-red-600 w-7 h-7" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 15h2.25m8.024-9.75c.011.05.028.1.052.148.591 1.2.924 2.55.924 3.977a8.96 8.96 0 01-.999 4.125m.023-8.25c-.076-.365.183-.75.575-.75h.908c.889 0 1.713.518 1.972 1.368.339 1.11.521 2.287.521 3.507 0 1.553-.295 3.036-.831 4.398C20.613 14.547 19.833 15 19 15h-1.053c-.472 0-.745-.556-.5-.96a8.95 8.95 0 00.303-.54m.023-8.25H16.48a4.5 4.5 0 01-1.423-.23l-3.114-1.04a4.5 4.5 0 00-1.423-.23H6.504c-.618 0-1.217.247-1.605.729A11.95 11.95 0 002.25 12c0 .434.023.863.068 1.285C2.427 14.306 3.346 15 4.372 15h3.126c.618 0 .991.724.725 1.282A7.471 7.471 0 007.5 19.5a2.25 2.25 0 002.25 2.25.75.75 0 00.75-.75v-.633c0-.573.11-1.14.322-1.672.304-.76.93-1.33 1.653-1.715a9.04 9.04 0 002.86-2.4c.498-.634 1.226-1.08 2.032-1.08h.384"></path>
            </svg>
            <div class="w-full text-lg font-semibold">Down vote</div>
            <div class="w-full text-sm">aka dislike the idea</div>
          </div>
        </label>
      </li>
      <li>
        <%= form.check_box :selectors, { include_hidden: false, multiple: true, id: "selectors_neutral", value: "", class: "hidden peer" }, "neutral" %>
        <label for="selectors_neutral" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
          <div class="block">
            <svg class="mb-2 w-7 h-7 text-sky-500" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
            <div class="w-full text-lg font-semibold">Neutral</div>
            <div class="w-full text-sm">aka no opinion</div>
          </div>
        </label>
      </li>
    </ul>
  </div>
  <div data-controller="poll-options" data-poll-options-target="container" class="mb-6">
    <div class="mb-6">
      <a href="#" data-action="poll-options#addOption" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">Add an option</a>
    </div>
    <div data-poll-options-target="error" class="mb-3 text-red-600" style="display: none;">
      Poll must have at least one option
    </div>
    <%= form.fields_for :poll_options do |po| %>
      <div data-poll-option class="mb-3c">
        <%= po.label :title, "Poll Option", class: "block mb-1 text-sm font-medium text-gray-900 dark:text-gray-300" %>
        <div class="flex items-center space-x-3">
          <%= po.text_field :title, 
              class:"bg-gray-50 border border-gray-300 text-gray-900 text-base md:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
              placeholder: "Type in the text for your poll option" %>
          <div class="flex items-center mb-4 space-x-2" data-popover-target="answer-popover">
            <div data-popover id="answer-popover" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
              <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
                <h3 class="font-semibold text-gray-900 dark:text-white">is answer?</h3>
              </div>
              <div class="px-3 py-2">
                <p>Check if you want this option to be flagged as an answer</p>
              </div>
              <div data-popper-arrow></div>
            </div>
            <%= po.check_box :is_answer, class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"%>
            <%= po.label :is_answer do %>
              <svg class="w-6 h-6 text-gray-900 dark:text-gray-300" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"></path>
              </svg>
            <% end %>
          </div>
          <a href="#" data-action="poll-options#removeOption">
            <svg fill="currentColor" class="w-6 h-6 text-gray-900 dark:text-gray-300" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path clip-rule="evenodd" fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z"></path>
            </svg>
          </a>
        </div>
        <%= po.hidden_field :status, value: :approved %>
        <%= po.hidden_field :_destroy %>
      </div>
    <% end %>
    <div data-poll-options-target="template" style="display: none;">
      <%= form.fields_for :poll_options, PollOption.new, child_index: "TEMPLATE" do |po| %>
        <div data-poll-option class="mb-3">
          <%= po.label :title, "Poll Option", class: "block mb-1 text-sm font-medium text-gray-900 dark:text-gray-300" %>
          <div class="flex items-center space-x-3">
            <%= po.text_field :title, 
                class:"bg-gray-50 border border-gray-300 text-gray-900 text-base md:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
                placeholder: "Type in the text for your poll option" %>
            <div class="flex items-center mb-4 space-x-2" data-popover-target="answer-popover">
              <div data-popover id="answer-popover" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
                <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
                  <h3 class="font-semibold text-gray-900 dark:text-white">is answer?</h3>
                </div>
                <div class="px-3 py-2">
                  <p>Check if you want this option to be flagged as an answer</p>
                </div>
                <div data-popper-arrow></div>
              </div>
              <%= po.check_box :is_answer, class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"%>
              <%= po.label :is_answer do %>
                <svg class="w-6 h-6 text-gray-900 dark:text-gray-300" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path clip-rule="evenodd" fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"></path>
                </svg>
              <% end %>
            </div>
            <a href="#" data-action="poll-options#removeOption">
              <svg fill="currentColor" class="w-6 h-6 text-gray-900 dark:text-gray-300" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z"></path>
              </svg>
            </a>
          </div>
          <%= po.hidden_field :status, value: :approved %>
          <%= po.hidden_field :_destroy %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.submit class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mb-8" %>
  </div>
<% end %>
