<%= form_with model: poll do |form| %>
  <%= render partial: 'shared/form_errors', locals: { object: poll } %>
  <div class="mb-6">
    <%= form.label :title, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
    <%= form.text_field :title, required: true, class:"bg-gray-50 border border-gray-300 text-gray-900 text-base md:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Keep it simple and below 250 characters 😎</p>
  </div>
  <div class="mb-6">
    <%= form.label :description, class: "block text-sm font-medium text-gray-900 dark:text-gray-300" %>
    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
      Describe the poll in a few words.
    </p>
    <%= form.rich_text_area :description, 
        class:"h-24 md:h-32 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", 
        placeholder: "Add a short text describing the event. This can also be the agenda of a meeting, etc." %>
  </div>
  <div class="mb-6 flex flex-col sm:flex-row items-center justify-start space-x-4">
    <div>
      <%= form.label :duration, "Display duration", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <%= form.number_field :duration, inputmode: "numeric", class:"bg-gray-50 border border-gray-300 text-gray-900 text-base md:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Empty means that the poll remains on the user screen infinitly</p>
    </div>
    <div>
      <label class="relative inline-flex items-center cursor-pointer">
        <%= form.check_box :add_option, class: "sr-only peer" %>
        <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Allow users to add an option after voting</span>
      </label>
    </div>
  </div>
  <div data-controller="poll-options" data-poll-options-target="container" class="mb-6">
    <div class="mb-6">
      <a href="#" data-action="poll-options#addOption" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">Add option</a>
    </div>
    <div data-poll-options-target="error" class="mb-3 text-red-600" style="display: none;">
      Poll must have at least two options
    </div>
    <%= form.fields_for :poll_options do |po| %>
      <div data-poll-option class="mb-3">
        <%= po.label :title, "Poll Option", class: "block mb-1 text-sm font-medium text-gray-900 dark:text-gray-300" %>
        <div class="flex items-center space-x-3">
          <%= po.text_field :title, class:"bg-gray-50 border border-gray-300 text-gray-900 text-base md:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
          <a href="#" data-action="poll-options#removeOption">
            <svg fill="currentColor" class="w-6 h-6 text-gray-900 dark:text-gray-300" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path clip-rule="evenodd" fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z"></path>
            </svg>
          </a>
        </div>
        <%= po.hidden_field :_destroy %>
      </div>
    <% end %>
    <div data-poll-options-target="template" style="display: none;">
      <%= form.fields_for :poll_options, PollOption.new, child_index: "TEMPLATE" do |po| %>
        <div data-poll-option class="mb-3">
          <%= po.label :title, "Poll Option", class: "block mb-1 text-sm font-medium text-gray-900 dark:text-gray-300" %>
          <div class="flex items-center space-x-3">
            <%= po.text_field :title, class:"bg-gray-50 border border-gray-300 text-gray-900 text-base md:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            <a href="#" data-action="poll-options#removeOption">
              <svg fill="currentColor" class="w-6 h-6 text-gray-900 dark:text-gray-300" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z"></path>
              </svg>
            </a>
          </div>
          <%= po.hidden_field :_destroy %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.submit class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  </div>
<% end %>
