<%# app/views/organization/edit.html.erb %>
<%= turbo_frame_tag "settings_main" do %>
  <%= render partial: "settings/breadcrumb", locals: { sub1: "Organization" } %>
  <%# Organization id %>
  <section class="my-4 text-sm text-gray-900 dark:text-gray-300">
    Org ID: <span class="font-medium"><%= @organization.id %></span>
  </section>
  <%# Logo section %>
  <section class="my-4">
    <%= turbo_frame_tag "logo_frame" do %>
      <%= form_with(url: upload_logo_organization_path(@organization), data: { controller: "image-drop" }) do |form| %>
        <input type="file" data-image-drop-target="fileInput" direct-upload-url="<%= rails_direct_uploads_url %>" style="display:none;">
        <div data-image-drop-target="dropArea" class="drop-area" data-action="click->image-drop#selectFile">
          <% if @organization.logo.attached? %>
            <%= image_tag @organization.logo, alt: 'Organization Logo', class: "object-cover h-16" %>
          <% else %>
            <!-- Placeholder for when there is no logo -->
            <div class="rounded h-16 w-32 flex justify-center items-center text-gray-700 dark:text-gray-400 bg-gray-100 dark:bg-gray-700">
              <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"></path>
              </svg>
            </div>
            <div class="text-sm font-medium text-gray-700 dark:text-gray-400">Drop your logo here or click to upload.</div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </section>
  <%# Rest of it ;-) %>
  <%= form_with model: @organization do |form| %>
    <%= render partial: "shared/form_errors", locals: { object: form.object } %>
    <div class="mb-6">
      <%= form.label :name, "Name of your organization", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <%= form.text_field :name, 
        class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", 
        placeholder: "ACME Inc.",
        value: @organization.name == "__default__" ? nil : @organization.name %>
    </div>
    <div class="mb-6">
      <%= form.label :website, "Your organization's website", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <%= form.text_field :website, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "https://www.acme.com" %>
    </div>
    <div class="mb-6">
      <%= form.label :description, "A few words about your organization (optional)", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <%= form.rich_text_area :description, class: "h-24 md:h-32 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 overflow-auto max-h-32" %>
    </div>
    <%= form.submit class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  <% end %>
<% end %>
