<!-- app/views/organization/show.html.erb -->
<%= turbo_frame_tag "settings_main" do %>
  <%= render partial: "settings/breadcrumb", locals: { sub1: "Organization" } %>
  <%= form_with model: @organization do |form| %>
    <%= render partial: "shared/form_errors", locals: { object: form.object } %>
    <div class="mb-6">
      <%= form.label :name, "Name of your organization", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <%= form.text_field :name, 
        class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", 
        placeholder: "ACME Inc.",
        value: @organization.name == "__default__" ? nil : @organization.name %>
    </div>
    <div class="mb-6">
      <%= form.label :website, "Your organization's website", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <%= form.text_field :website, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "https://www.acme.com" %>
    </div>
    <div class="mb-6">
      <%= form.label :description, "A few words about your organization (optional)", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <%= form.rich_text_area :description, class: "h-24 md:h-32 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 overflow-auto max-h-32" %>
    </div>
    <%= form.submit class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  <% end %>
<% end %>
