<!-- app/views/rooms/_form.html.erb -->
<%= form_with model: room do |form| %>
  <%= render partial: 'shared/form_errors', locals: { object: room } %>
  <div class="mb-6">
    <%= form.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
    <%= form.text_field :name, required: true, class:"bg-gray-50 border border-gray-300 text-gray-900 text-base md:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Keep it simple and below 250 characters 😎</p>
  </div>
  <div class="mb-6">
    <%= form.label :description, class: "block text-sm font-medium text-gray-900 dark:text-gray-300" %>
    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
      Describe the room in a few words.
    </p>
    <%= form.rich_text_area :description, 
        class:"h-24 md:h-32 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", 
        placeholder: "Add a short text describing the event. This can also be the agenda of a meeting, etc." %>
  </div>
  <div class="mb-6 flex flex-col md:flex-row items-center justify-start space-x-2">
    <div>
      <%= form.label :duration, "Display duration", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <%= form.number_field :duration, inputmode: "numeric", class:"bg-gray-50 border border-gray-300 text-gray-900 text-base md:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Time in seconds during which the poll is displayed and open for vote. When empty, the poll remains opened.</p>
    </div>
    <div>
      <%= form.label :max_votes, "Maximum options", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <%= form.number_field :max_votes, inputmode: "numeric", class:"bg-gray-50 border border-gray-300 text-gray-900 text-base md:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">The maximum number of options that a user can vote for. If kept empty, the user can vote for all the options from the poll.</p>
    </div>
    <div>
      <%= form.label :num_votes, "Minimum options", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <%= form.number_field :num_votes, inputmode: "numeric", class:"bg-gray-50 border border-gray-300 text-gray-900 text-base md:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">The minimum number of option(s) a user can vote for. If kept empty there is no minimum required.</p>
    </div>
  </div>
  <div class="mb-6 flex flex-col md:flex-row md:items-center justify-start md:space-x-4">
    <div>
      <label class="relative inline-flex items-center cursor-pointer">
        <%= form.check_box :add_option, class: "sr-only peer" %>
        <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Allow users to add an option after voting</span>
      </label>
    </div>
    <div>
      <label class="relative inline-flex items-center cursor-pointer">
        <%= form.check_box :is_anonymous, class: "sr-only peer" %>
        <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Make it anonymous</span>
      </label>
    </div>
  </div>
  <%# Render the type and invite section %>
  <h3 class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Choose who can participate:</h3>
  <%= render "layouts/invites/resource_invite", form: form, resource: room %>
  <div>
    <%= form.submit class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mb-8" %>
  </div>
<% end %>
