<%= turbo_frame_tag dom_id(question) do %>
  <div data-empty-state-target="item" class="flex flex-col w-full items-center p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <% if question.anonymous %>
      <div class="overflow-hidden relative w-36 h-36 bg-gray-100 rounded-full dark:bg-gray-600">
        <svg class="absolute w-36 h-36 text-gray-400 ring-2 ring-gray-300 dark:ring-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
      </div>
    <% else %>
      <% if question.user.profile.avatar.attached? %>
        <%= image_tag question.user.profile.avatar.variant(resize_to_limit: [144, 144]),
            width: 144, height: 144, class: "p-2 w-36 h-36 rounded-full dark:ring-2 dark:ring-gray-500" %>
      <% else %>
        <div class="w-36 h-36 rounded-full flex items-center justify-center" style="background-color: <%= RandomBackground.background %>;">
          <p class="font-bold text-slate-100" style="font-size: 8vh;"><%= question.user.profile.nickname.split.first(2).map(&:first).join %></p>
        </div>
      <% end %>
    <% end %>
    <div class="text-gray-500 dark:text-gray-400 font-medium tracking-tight text-3xl text-center pt-4">
      <%= question.anonymous ? 'Anonymous' : question.user.profile.nickname.strip %>
    </div>
    <h5 class="pt-6 text-4xl font-extrabold dark:text-white text-center">
      <%= question.title %>
    </h5>
  </div>
<% end %>
