<div class="mt-4 flex flex-col items-center">
  <div class="flex flex-col items-center mb-16">
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"><%= @room.event.name %></h1>
    <h2 class="text-3xl font-extrabold tracking-tight leading-none text-gray-900 md:text-4xl dark:text-white <%= @room.name == '__default__' ? 'invisible' : '' %>"><%= @room.name %></h2>
  </div>
  <div class="flex flex-col w-full items-center p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <div class="pb-6">
      <% if @question.anonymous %>
        <div class="overflow-hidden relative w-10 h-10 bg-gray-100 rounded-full dark:bg-gray-600">
          <svg class="absolute -left-1 w-12 h-12 text-gray-400 ring-2 ring-gray-300 dark:ring-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
        </div>
      <% else %>
        <div class="w-36 h-36 rounded-full flex items-center justify-center bg-slate-400" >
          <p class="font-bold text-slate-100" style="font-size: 8vh;">UP</p>
        </div>
        <div class="text-gray-500 dark:text-gray-400 font-medium tracking-tight text-3xl text-center pt-4">
          <%= @question.user.profile.nickname.strip %>
        </div>
      <% end %>
    </div>
    <h5 class="text-4xl font-extrabold dark:text-white text-center">
      <% if @question %>
        <%= @question.title %>
      <% else %>
        No question yet, be the first to ask a question!
      <% end %>
    </h5>
  </div>
</div>
