<%= turbo_stream_from "display_#{@room.id}" %>
<div class="mt-4 flex flex-col items-center">
  <div class="flex flex-col items-center mb-16">
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"><%= @room.event.name %></h1>
    <h2 class="text-3xl font-extrabold tracking-tight leading-none text-gray-900 md:text-4xl dark:text-white <%= @room.name == '__default__' ? 'invisible' : '' %>"><%= @room.name %></h2>
  </div>
  <div id="question" data-controller="empty-state">
    <div data-empty-state-target="emptyState">
      <%= render "empty_state" %>
    </div>
    <%= render "rooms/question", question: @question if @question %>
  </div>
</div>
