<div class="container pt-4">
  <h1 class="inline-block mb-2 font-extrabold text-3xl tracking-tight text-slate-800 dark:text-white">
    My Insights
  </h1>
  <section id="counters" class="w-full" >
    <div class="grid grid-cols-5 rounded-md overflow-clip">
      <%= render(DashboardCounterComponent.new(title: "Total", total:@total, icon:'<svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path></svg>', icon_color:'text-white', link:your_questions_path, positive:20, neutral:50, negative:30, background_color:'bg-gray-800')) %>
      <%= render(DashboardCounterComponent.new(title: "Approved", total:@status['approved'], icon:'<svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"></path></svg>', icon_color: 'text-blue-400', link:nil, positive:2, neutral:7, negative:1, background_color:'bg-gray-700')) %>
      <%= render(DashboardCounterComponent.new(title: "Answered", total:@status['answered']+@status['beinganswered'], icon:'<svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>', icon_color:'text-green-400', link:nil, positive:10, neutral:3, negative:7, background_color:'bg-gray-700')) %>
      <%= render(DashboardCounterComponent.new(title: "Pending", total:@status['asked'], icon:'<svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>', icon_color:'text-yellow-400', link:nil, positive:6, neutral:20, negative:4, background_color:'bg-gray-700')) %>
      <%= render(DashboardCounterComponent.new(title: "Rejected", total:@status['rejected'], icon:'<svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>', icon_color: 'text-red-400', link:nil, positive:10, neutral:5, negative:25, background_color:'bg-gray-700')) %>
    </div>
  </section>
  <section class="grid grid-cols-5 gap-2 my-2">
    <div class="rounded-md dark:bg-gray-700 bg-gray-100 p-2">
      <h2 class="inline-block mb-2 font-extrabold text-xl tracking-tight text-slate-800 dark:text-white">
        My Key Topics
      </h2>
      <div>
        <%= pie_chart Topic.where(user_id: current_user.id).group(:name).limit(5).count, 
            donut: true,
            loading: "Loading...",
            empty: "No Data Yet.".html_safe %>
      </div>
    </div>
    <div class="rounded-md dark:bg-gray-700 bg-gray-100 col-span-3 p-2">
      <h2 class="inline-block mb-2 font-extrabold text-xl tracking-tight text-slate-800 dark:text-white">
        Food for Thoughts
      </h2>
    </div>
    <div class="rounded-md dark:bg-gray-700 bg-gray-100 overflow-hidden">
      <div class="relative w-full h-24 bg-gray-800" >
        <div class="absolute top-6 right-6">
          <div class="h-5 w-5 text-gray-50 mb-3">
            <svg fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z"></path>
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
            </svg>
          </div>
          <div class="h-5 w-5 text-gray-50">
            <svg fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6.827 6.175A2.31 2.31 0 015.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 00-1.134-.175 2.31 2.31 0 01-1.64-1.055l-.822-1.316a2.192 2.192 0 00-1.736-1.039 48.774 48.774 0 00-5.232 0 2.192 2.192 0 00-1.736 1.039l-.821 1.316z"></path>
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12.75a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM18.75 10.5h.008v.008h-.008V10.5z"></path>
            </svg>
          </div>
        </div>
        <div class="flex flex-col items-center justify-start translate-y-10">
          <div class="h-28 w-28 bg-slate-50 rounded-full">
          </div>
          <div class="mt-4 text-gray-500 dark:text-gray-400 text-xl font-bold tracking-tight">
            <%= current_user.profile.nickname %>
          </div>
          <div class="mt-2 text-gray-500 dark:text-gray-400 text-sm font-bold tracking-tight">
            PEW Points
            <div class="flex items-center justify-center space-x-1">
              <svg class="w-4 h-4 text-blue-600" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z"></path>
              </svg>
              <span class="text-gray-500 dark:text-gray-400 text-sm font-light tracking-tight">123</span>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-44 p-4 flex flex-row justify-start items-center space-x-2 mb-2">
        <h3 class="text-basic tracking-tight text-gray-500 dark:text-gray-400">
          Trophies (3)
        </h3>
        <%= link_to nil do %>
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path>
          </svg>
        <% end %>
      </div>
    </div>
  </section>
  <%# Display the user's questions %>
  <section>
    <%= render DashboardQuestionTableComponent.new do |component| %>
      <% component.with_header do %>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              <div class="flex flex-row items-center space-x-1">
                <p>
                  Your Questions
                </p>
                <p>
                  <%= link_to your_questions_path do %>
                    <svg class="w-3 h-3 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path>
                    </svg>
                  <% end %>
                </p>
              </div>
            </th>
            <th scope="col" class="px-6 py-3">
              Status
            </th>
            <th scope="col" class="px-6 py-3">
              Upvotes
            </th>
            <th scope="col" class="px-6 py-3">
              Event
            </th>
            <th scope="col" class="px-6 py-3">
              Date
            </th>
            <th scope="col" class="px-6 py-3">
              Tone
            </th>
            <th scope="col" class="px-6 py-3">
            </th>
          </tr>
        </thead>
      <% end %>
      <%# Looping on the questions %>
      <% @questions.each do |question| %>
        <% component.with_question do %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td class="px-6 py-4">
              <%= question.title.truncate(52) %>
            </td>
            <td class="px-6 py-4">
              <%= display_question_status(question.status) %>
            </td>
            <td class="px-6 py-4">
              <%= question.up_votes %>
            </td>
            <td class="px-6 py-4">
              <%= link_to room_questions_path(question.room) do %>
                <%= question.room.event.name.truncate(42) %>
              <% end %>
            </td>
            <td class="px-6 py-4">
              <%= question.created_at.strftime('%b %d, %y') %>
            </td>
            <td class="px-6 py-4">
              <%= question.tone %>
            </td>
            <td class="px-6 py-4">
              <%= link_to your_question_path(question.id) do %>
                <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"></path>
                </svg>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </section>
</div>
