<section>
  <h1 class="inline-block mb-2 font-extrabold text-3xl tracking-tight text-slate-800 dark:text-white">Your Questions</h1>
  <div class="my-6 flex space-x-2 text-gray-500 dark:text-gray-400 text-sm">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z" />
    </svg>
    You have <%= pluralize(@count, 'question') %>
  </div>
  <%# Display the user's questions %>
  <section>
    <%= render DashboardQuestionTableComponent.new do |component| %>
      <% component.with_header do %>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              <div class="flex flex-row items-center space-x-1">
                <p>
                  Your Questions
                </p>
                <p>
                  <%= link_to your_questions_path do %>
                    <svg class="w-3 h-3 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path>
                    </svg>
                  <% end %>
                </p>
              </div>
            </th>
            <th scope="col" class="px-6 py-3">
              Status
            </th>
            <th scope="col" class="px-6 py-3">
              Upvotes
            </th>
            <th scope="col" class="px-6 py-3">
              Event
            </th>
            <th scope="col" class="px-6 py-3">
              Date
            </th>
            <th scope="col" class="px-6 py-3">
              Tone
            </th>
            <th scope="col" class="px-6 py-3">
            </th>
          </tr>
        </thead>
      <% end %>
      <%# Looping on the questions %>
      <% @questions.each do |question| %>
        <% component.with_question do %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td class="px-6 py-4">
              <%= link_to your_question_path(question.id) do %>
                <%= question.title.truncate(50) %>
              <% end %>
            </td>
            <td class="px-6 py-4">
              <%= display_question_status(question.status) %>
            </td>
            <td class="px-6 py-4">
              <%= question.up_votes %>
            </td>
            <td class="px-6 py-4">
              <%= link_to room_questions_path(question.room) do %>
                <%= question.room.event.name.truncate(40) %>
              <% end %>
            </td>
            <td class="px-6 py-4">
              <%= question.created_at.strftime('%b %d, %y') %>
            </td>
            <td class="px-6 py-4">
              <%= question.tone %>
            </td>
            <td class="px-6 py-4">
              <div class="hidden md:block">
                <%= link_to question_path(question.id), data: { turbo_method: :delete,  turbo_confirm: 'Are you sure?' }, class: "text-center text-red-400 hover:text-red-600 dark:text-red-600 dark:hover:text-red-400" do %>
                  <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"></path>
                  </svg>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </section>
</section>
