<!DOCTYPE html>
<html>
  <head>
    <title>Ask</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="antialiased">
    <div class="flex flex-col min-h-screen bg-white overflow-hidden">
      <header>
        <%= render "shared/top_navigation" %>
      </header>
      <div>
        <%= render "shared/flash" %>
      </div>
      <main class="flex-grow">
        <div class="pt-4 m-auto lg:max-w-7xl max-w-6xl">
          <%= yield %>
        </div>
      </main>
      <footer class="w-full bg-gray-200 border border-t-gray-300">
        <div class="mx-auto lg:max-w-7xl max-w-6xl px-4">
          <div class="flex flex-row justify-between items-center py-3">
            <div class="text-sm text-gray-500">
              <%= link_to 'thePew.io', root_path %>
            </div>
            <div class="flex flex-row justify-end space-x-2 items-center">
              <%= link_to root_path do %>
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="16" height="16"
                    viewBox="0 0 16 16"
                    style=" fill:#000000;"><path d="M 2.757813 1 C 1.792969 1 1 1.792969 1 2.757813 L 1 12.246094 C 1 13.207031 1.792969 14 2.757813 14 L 12.246094 14 C 13.207031 14 14 13.207031 14 12.246094 L 14 2.757813 C 14 1.792969 13.207031 1 12.246094 1 Z M 2.757813 2 L 12.246094 2 C 12.667969 2 13 2.332031 13 2.757813 L 13 12.246094 C 13 12.667969 12.667969 13 12.246094 13 L 2.757813 13 C 2.332031 13 2 12.667969 2 12.246094 L 2 2.757813 C 2 2.332031 2.332031 2 2.757813 2 Z M 4 3 C 3.449219 3 3 3.449219 3 4 C 3 4.550781 3.449219 5 4 5 C 4.550781 5 5 4.550781 5 4 C 5 3.449219 4.550781 3 4 3 Z M 3 6 L 3 12 L 5 12 L 5 6 Z M 6 6 L 6 12 L 8 12 L 8 9.320313 C 8 8.488281 8.078125 7.742188 9.078125 7.742188 C 10.0625 7.742188 10 8.636719 10 9.375 L 10 12 L 12 12 L 12 9.039063 C 12 7.320313 11.640625 6 9.691406 6 C 8.753906 6 8.28125 6.375 8.023438 6.875 L 8 6.875 L 8 6 Z"></path></svg>
              <% end %>
              <%= link_to root_path do %>
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="16" height="16"
                    viewBox="0 0 16 16"
                    style=" fill:#000000;"><path d="M 7.5 1 C 3.9160714 1 1 3.9160714 1 7.5 C 1 11.083929 3.9160714 14 7.5 14 C 11.083929 14 14 11.083929 14 7.5 C 14 3.9160714 11.083929 1 7.5 1 z M 7.5 2 C 10.543488 2 13 4.4565116 13 7.5 C 13 10.266333 10.967571 12.541024 8.3125 12.933594 L 8.3125 9.0898438 L 9.8652344 9.0898438 L 10.109375 7.5136719 L 8.3125 7.5136719 L 8.3125 6.6503906 C 8.3125 5.9953906 8.5256719 5.4140625 9.1386719 5.4140625 L 10.123047 5.4140625 L 10.123047 4.0371094 C 9.9500469 4.0141094 9.5845781 3.9628906 8.8925781 3.9628906 C 7.4485781 3.9628906 6.6015625 4.7258906 6.6015625 6.4628906 L 6.6015625 7.5117188 L 5.1171875 7.5117188 L 5.1171875 9.0898438 L 6.6035156 9.0898438 L 6.6035156 12.919922 C 3.9897868 12.492118 2 10.237066 2 7.5 C 2 4.4565116 4.4565116 2 7.5 2 z"></path></svg>
              <% end %>
              <%= link_to root_path do %>
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="16" height="16"
viewBox="0 0 16 16"
style=" fill:#000000;"><path d="M 7.5 1 C 3.9160714 1 1 3.9160714 1 7.5 C 1 11.083929 3.9160714 14 7.5 14 C 11.083929 14 14 11.083929 14 7.5 C 14 3.9160714 11.083929 1 7.5 1 z M 7.5 2 C 10.543488 2 13 4.4565116 13 7.5 C 13 10.543488 10.543488 13 7.5 13 C 4.4565116 13 2 10.543488 2 7.5 C 2 4.4565116 4.4565116 2 7.5 2 z M 9.1113281 4.7519531 C 8.2683281 4.7519531 7.5820312 5.4353438 7.5820312 6.2773438 C 7.5820312 6.4343438 7.6367188 6.5395312 7.6367188 6.6445312 C 6.3727188 6.5925313 5.3229375 5.895 4.5859375 5 C 4.4279375 5.211 4.375 5.4733281 4.375 5.7363281 C 4.375 6.2623281 4.5799531 6.8419375 5.0019531 7.2109375 C 4.7219531 7.1729375 4.586 7.105 4.375 7 C 4.375 7.737 4.8442969 8.2248125 5.5292969 8.3828125 C 5.5292969 8.3828125 5.2654219 8.4355469 5.1074219 8.4355469 C 4.9874219 8.4355469 4.84375 8.3828125 4.84375 8.3828125 C 5.05475 8.9618125 5.580625 9.4335938 6.265625 9.4335938 C 5.739625 9.8025937 5.0541406 10 4.3691406 10 L 4 10 C 4.375 10.5 5.2494063 10.750953 6.3164062 10.751953 C 9.1074063 10.751953 10.636719 8.4355469 10.636719 6.4355469 L 10.636719 6.2246094 C 10.900719 6.0136094 11.163 5.7505469 11.375 5.4355469 C 11.059 5.5935469 10.796469 5.6442656 10.480469 5.6972656 C 10.796469 5.4872656 11.059062 5.2234688 11.164062 4.8554688 C 10.901063 5.0124687 10.585797 5.1716094 10.216797 5.2246094 C 9.9527969 4.9096094 9.5333281 4.7519531 9.1113281 4.7519531 z"></path></svg>
              <% end %>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
