<!DOCTYPE html>
<html>
  <head>
    <title>Ask</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <div class="flex flex-col min-h-screen overflow-hidden">
      <header>
        <%= render "shared/top_navigation" %>
      </header>
      <main class="flex-grow mx-auto pt-2 lg:max-w-7xl max-w-6xl px-4">
        <%= yield %>
      </main>
      <footer class="w-full bg-gray-200 border border-t-gray-300">
        <div class="mx-auto lg:max-w-7xl max-w-6xl px-4">
          <div class="flex flex-row justify-between items-center">
            <div>
              Powered by <%= link_to 'ASK.me', root_path %>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
